@font-face {
  font-family: 'Material Symbol Outlined';
  src: url('./material-symbols-outlined.woff2') format('woff2');
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('./IvyJournal-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('./IvyJournal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./manrope-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
