@font-face {
  font-family: 'Material Symbol Outlined';
  src: url('./material-symbols-outlined.woff2') format('woff2');
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'IvyJournal';
  src: url('./IvyJournal-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyJournal';
  src: url('./IvyJournal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./manrope-latin-400-normal.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.material-symbols-outlined {
  font-family: 'Material Symbol Outlined', sans-serif; /* doit correspondre à @font-face */
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 20;
  display: inline-block;
  font-feature-settings: "liga" 1, "ss01" 1;
  text-rendering: optimizeLegibility;
}
