@use 'tailwind';
@use 'core';
@use 'fonts';
@use 'partials';
@use 'menu';
@use 'lang';
@use 'typo';
@use 'form';
@use 'expand';
@use 'hero';

body {
  @apply min-h-[100dvh] font-sans bg-white;
}

.grid-base {
  @apply grid grid-cols-12 md:grid-cols-24;
}



.hero {
  &-social {
    @screen md {
      width: calc(((8 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin))
    }

    li {
      svg {
        @apply @@:h-[18px] w-auto;
      }
    }
  }

  &-gradient-home {
    background: linear-gradient(107deg, #FFD65A 3.43%, #CDE0F6 97.42%);
  }
}

.hero-page {
  &-gradient {
    background: linear-gradient(125deg, #FFD65A 7.56%, rgba(205, 224, 246, 0.00) 72.31%);
  }
  &-gradient-2 {
    background: linear-gradient(180deg, #021D4C 0%, rgba(218, 232, 234, 0.00) 100%);
  }
  
  .social {
    svg {
      @apply fill-dark-blue;
    }
  }
}

@function vw($size) {
  @return calc(($size / var(--tw-screen-current)) * var(--tw-screen-max) * var(--tw-scale));
}

.image-shadow {
  // box-shadow: 0px 8px 16px rgba(1, 27, 72, 0.30);
  box-shadow: vw(-4) vw(16) vw(42) vw(-10) rgba(1, 27, 72, 0.30);
}

.image-shadow-lg {
  box-shadow: 0 vw(20) vw(60) vw(-20) rgba(1, 27, 72, 0.40);
}

.last-publication {
  @apply @md/lg:mt-[-1px];

  &-cover {
    --publication-full: calc(100% + calc((80 / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale)));
    @apply absolute top-0 left-0 z-[0] w-full @sm:h-[--publication-full]  md:h-full md:w-[50%] bg-dark-blue ;
    background: linear-gradient(137deg, #021D4C 4.65%, #043790 91.21%);
  }
}

.gradient {
  &-hero-fill {
    @apply h-full aspect-square absolute bottom-0 left-0 -translate-x-[50%] translate-y-[50%];
    background: radial-gradient(circle, #FFD65A 0%, #CDE0F6 50%, transparent 70%);
    opacity: .4;
  }
  
  &-fullsize {
    background: linear-gradient(110deg, #FFD65A 6.65%, rgba(205, 224, 246, 0.00) 55.46%);
  }
}

.filter {
  .is-active {
    @apply bg-light-blue;
  }

  .is-disabled {
    pointer-events: none;
    span {
      opacity: .25;
    }
  }

  &-expand {
    ul {
      @apply @@:max-h-[250px] overflow-auto;

      /* Firefox */
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;

      
      /* Chrome / Safari / Edge */
      &::-webkit-scrollbar {
        width: 4px;
      }
      
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 99px;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: #999;
      }
    }
  }

  &-button {
    &.is-open,
    &.is-filtered {
      @apply border-dark-blue;
    }
  }
  
  &-item-btn {
    &:hover:not(.is-active) {
      @apply bg-light-yellow;
    }
  }

  .reset-label {
    @apply flex items-center @@:gap-x-[14px];

    svg {
      @apply @@:size-[12px] stroke-current stroke-[1px];
    }

    font-size: calc((var(--badge-filled-font-size) / var(--tw-screen-current)) * var(--tw-screen-max) * var(--tw-scale));
    font-family: var(--font-badge-filled-font-family);
    --tw-shadow-color: var(--color-badge-filled-shadow);
    --tw-shadow: var(--tw-shadow-colored);
    background-color: var(--color-badge-filled-background);
    border-color: var(--color-badge-filled-border);
    color: var(--color-badge-filled-text);
    padding-left: calc((var(--badge-filled-padding-left) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    padding-right: calc((var(--badge-filled-padding-right) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    padding-top: calc((var(--badge-filled-padding-top) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    padding-bottom: calc((var(--badge-filled-padding-bottom) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-top-left-radius: calc((var(--badge-filled-border-top-left-radius) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-top-right-radius: calc((var(--badge-filled-border-top-right-radius) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-bottom-left-radius: calc((var(--badge-filled-border-bottom-left-radius) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-bottom-right-radius: calc((var(--badge-filled-border-bottom-right-radius) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-left-width: calc((var(--badge-filled-border-left-width) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-right-width: calc((var(--badge-filled-border-right-width) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-top-width: calc((var(--badge-filled-border-top-width) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    border-bottom-width: calc((var(--badge-filled-border-bottom-width) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    box-shadow: calc((var(--badge-filled-shadow-position-x) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-position-y) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-blur) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-spread) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale)) var(--tw-shadow-color, rgba(0, 0, 0, 0.25));
    letter-spacing: calc((var(--badge-filled-letter-spacing) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
    line-height: calc((var(--badge-filled-line-height) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));


    @screen md {
      padding-left: calc((var(--badge-filled-padding-left) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      padding-right: calc((var(--badge-filled-padding-right) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      padding-top: calc((var(--badge-filled-padding-top) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      padding-bottom: calc((var(--badge-filled-padding-bottom) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-top-left-radius: calc((var(--badge-filled-border-top-left-radius) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-top-right-radius: calc((var(--badge-filled-border-top-right-radius) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-bottom-left-radius: calc((var(--badge-filled-border-bottom-left-radius) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-bottom-right-radius: calc((var(--badge-filled-border-bottom-right-radius) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-left-width: calc((var(--badge-filled-border-left-width) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-right-width: calc((var(--badge-filled-border-right-width) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-top-width: calc((var(--badge-filled-border-top-width) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      border-bottom-width: calc((var(--badge-filled-border-bottom-width) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      box-shadow: calc((var(--badge-filled-shadow-position-x) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-position-y) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-blur) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale)) calc((var(--badge-filled-shadow-spread) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale)) var(--tw-shadow-color, rgba(0, 0, 0, 0.25));

      letter-spacing: calc((var(--badge-filled-letter-spacing) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
      line-height: calc((var(--badge-filled-line-height) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
    }
  }
}

.gradient-pattern-1 {
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.parallax-image-wrapper.h-full {
  height: calc(100% + 1px);
}


// UNDERLINE
.button-underline {
  border-bottom: 0;
  position: relative;

  &.is-tag {
    @apply underline @@:underline-offset-[4px];
  }
}

.button-underline:not(.is-tag) {
  &:after {
    @apply absolute h-[1px] w-full bg-current bottom-0 left-0 origin-right;

    content: "";
  }

  &:hover:not(.is-fake) {
    &:after {
      animation: underline .4s ease-out forwards;
    }
  }
}

a {
  &:hover {
    .button-underline {
      &:after {
        animation: underline .4s ease-out forwards;
      }
    }
  }
}

.link-underline {
  position: relative;

  &:after {
    @apply absolute h-[1px] w-full bg-current bottom-0 left-0 origin-right duration-300 transition-transform scale-x-0 origin-right;
    content: "";
  }

  &:hover {
    &:after {
      @apply scale-x-100 origin-left;
    }
  }

}

@keyframes underline {
  0% {
    transform: scaleX(1);
    transform-origin: center right;
  }

  49.9% {
    transform: scaleX(0);
    transform-origin: center right;
  }

  50% {
    transform: scaleX(0);
    transform-origin: center left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: center left;
  }
}


.event {
  position: relative;

  &:after {
    @apply absolute top-[-1px] left-0 h-[2px] bg-dark-blue w-full scale-x-0 duration-300 ease-out transition-transform origin-right;
    content: "";
  }
  &:before {
    @apply absolute top-[-1px] left-0 h-[2px] bg-yellow w-full scale-x-100 duration-300 ease-out transition-transform origin-left;
    content: "";
  }

  &--blue {
    &:after {
      @apply bg-white;
    }
  }

  p {
    @apply transition-all duration-300 ease-out;
  }

  &:hover {
    p {
      @apply opacity-60;
    }
    &:after {
      @apply scale-x-100 origin-left;
    }
    &:before {
      @apply scale-x-0 origin-right;
    }
  }
}

.publication {
  position: relative;

  & > div {
    position: relative;
    z-index: 1;
  }

  &:after {
    @apply absolute inset-0 bg-light-yellow z-0;
    content: "";
    transform: scaleX(0);
    transform-origin: left center;
  }

  &.is-entering:after {
    animation: rollIn .3s ease-out forwards;
  }

  &.is-leaving:after {
    animation: rollOut .3s ease-out forwards;
  }
}

.project {
  position: relative;

  --hover-project: var(--color-light-blue);

  .theme-yellow & {
  --hover-project: var(--color-white);
  }
  .theme-light-yellow & {
  --hover-project: var(--color-white);
  }

  & > div {
    position: relative;
    z-index: 1;
  }

  &:after {
    @apply absolute inset-0 bg-[--hover-project] duration-300 transition-transform z-0 scale-x-0 origin-right ease-out ;
    content: "";
  }

  &:hover {
    &:after {
      @apply scale-x-100 origin-left;
    }
  }
}


.wysiwyg {
  & > * {
    &:first-child {
      @apply pt-0;
    }
    &:last-child {
      @apply pb-0;
    }
  }
}


.filters {
  & > div {
    &:nth-child(odd) {
      .filter-expand {
        @apply left-0;
      }
    }
    &:nth-child(even) {
      .filter-expand {
        @apply right-0 md:left-0 md:right-auto;
      }
    }
  }
}

@keyframes rollIn {
  from { transform: scaleX(0); opacity: 0; transform-origin: left center; }
  to   { transform: scaleX(1); opacity: 1; transform-origin: left center; }
}

@keyframes rollOut {
  // from { transform: scaleX(1); transform-origin: right center; }
  // to   { transform: scaleX(0); transform-origin: right center; }
  from { transform: scaleX(1); opacity:1; transform-origin: left center; }
  to   { transform: scaleX(0); opacity:0; transform-origin: left center; }
}
