@use 'core';
@use 'fonts';
@use 'partials';
@use 'menu';
@use 'lang';
@use 'typo';

body {
  @apply min-h-screen font-sans;
}

.grid-base {
  @apply grid grid-cols-12 md:grid-cols-24;
}

.hero-cpt {
  .hero-cover {
    @apply w-full;

    @screen md {
      width: calc(((9 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin))
    }

    &.hero-fit, 
    &.hero-none {
      // background: var(--Light-Blue, #CDE0F6);
    }
  }
}

.hero-fit,
.hero-fill {
  @apply flex mm-sm:flex-col;
  
  .hero-cover {
    @apply w-full;

    @screen md {
      width: calc(((9 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin))
    }
  }
}

.hero {
  &-social {
    @screen md {
      width: calc(((8 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin))
    }

    li {
      svg {
        @apply @@:h-[18px] w-auto;
      }
    }
  }
}

.hero-page {
  
  &-gradient {
    background: linear-gradient(125deg, #FFD65A 7.56%, rgba(205, 224, 246, 0.00) 72.31%);
  }
  &-gradient-2 {
    background: linear-gradient(180deg, #021D4C 0%, rgba(218, 232, 234, 0.00) 100%);
  }

  .social {
    svg {
      @apply fill-dark-blue;
    }
  }
}