:root {
  --pl-margin: calc((var(--container-margin) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));
  // --hero-h: calc((var(92) / var(--tw-screen-sm)) * var(--tw-screen-max) * var(--tw-scale));

  --dark-blue-20: rgba(2, 29, 76, .2);
  --button-underline-border-width: 1;
  --size-container: calc(100vw - var(--pl-margin) * 2);
  --left-line: calc(((17 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin));
}

@screen md {
  :root {
    --pl-margin: calc((var(--container-margin) / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
    --hero-h: calc(100% - (92 / var(--tw-screen-md)) * var(--tw-screen-max) * var(--tw-scale));
    --col-1-3: calc(((8 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin))
  }
}

@screen lg {
  :root {
    --hero-h: calc(100% - (92 / var(--tw-screen-lg)) * var(--tw-screen-max) * var(--tw-scale));
  }
}