[js-expand="desktop"],
[js-expand="all"] {
  @apply md:hidden;
  
  & > div,
  & > ul {
    @apply md:translate-y-[20px] md:opacity-0;
  }
}

[js-expand="mobile"],
[js-expand="all"] {
  @apply mm-sm:hidden;
  
  & > div,
  & > ul {
    @apply mm-sm:translate-y-[20px] mm-sm:opacity-0 ;
  }
}

[js-expand] {
  & > div,
  & > ul {
    @apply duration-500 ease-out transition-all;
    // transition-delay: 300ms;
  }


  &.is-open {
    & > div,
    & > ul {
      @apply translate-y-[0%] opacity-100;
      transition-delay: 0ms;
    }
  }
}

[js-expand-button] {
  &.is-filtered {
    // @apply border-dark-blue;
  }
}