[js-expand="desktop"],
[js-expand="all"] {
  & > div,
  & > ul {
    @apply md:translate-y-[20px] md:opacity-0;
  }
}

[js-expand="mobile"],
[js-expand="all"] {
  & > div,
  & > ul {
    @apply md:translate-y-[20px] md:opacity-0;
  }
}

[js-expand] {
  & > div,
  & > ul {
    @apply duration-500 ease-out transition-all;
    transition-delay: 300ms;
  }


  &.is-open {
    & > div,
    & > ul {
      @apply translate-y-[0%] opacity-100;
      transition-delay: 0ms;
    }
  }
}
