
.material-symbols-outlined {
  font-family: 'Material Symbol Outlined', sans-serif; /* doit correspondre à @font-face */
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24;
  display: inline-block;
  font-feature-settings: "liga" 1, "ss01" 1;
  text-rendering: optimizeLegibility;
}
