.hero {
  @apply md:min-h-screen flex items-center mm-sm:flex-col @sm:gap-y-[50px] @sm:pt-[142px] @sm:pb-[50px] md:py-0;

  &.is-vertical {
    @apply @md/lg:min-h-[824px] ;
  }

  &-wrapper {
    @apply  @md/lg:py-[112px];
  }

  &-cover {
    
    @screen md {
      width: calc(((9 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin));
    }

    &--fit {
      @apply @md/lg:py-[42px];
      padding-right: var(--pl-margin);
    }
  }

  &.hero-home {
    @apply @sm:pb-[80px] md:py-0;

    .hero-wrapper {
      @apply  @md/lg:py-[160px];
    }
  }

  &.hero-cpt {

  }
}