.hero {
  @apply min-h-[100dvh] flex items-center mm-sm:justify-center mm-sm:flex-col @sm:gap-y-[50px] @sm:py-[142px] md:py-0;

  &.is-vertical {
    @apply @md/lg:min-h-[100dvh] @md/lg:min-h-[824px] ;
  }
  
  &-wrapper {
    @apply  @md/lg:py-[112px];
  }

  &-cover {
    
    @screen md {
      width: calc(((9 / 24) * (100% - (var(--pl-margin) * 2))) + var(--pl-margin));
    }

    &--fit {
      @apply @md/lg:py-[42px] @md/lg:pb-[82px];
      padding-right: var(--pl-margin);
    }
  }

  &.hero-home {
    .hero-wrapper {
      @apply  @md/lg:py-[160px];
    }
  }

  &.hero-cpt {

  }

  &-gradient-header {
    background: linear-gradient(var(--dark-blue-30) 20%, var(--dark-blue-0));
  }
}