.lang {
  @apply relative; 

  &-btn {
    @apply mm-sm:hidden border-l border-dark-blue @md/lg:pl-[32px];
  }

  &-list {
    @apply flex flex-row @@:gap-x-[32px] md:flex-col md:absolute md:bg-white bottom-0 left-0 translate-y-[100%] @md/lg:p-[32px] z-[99] md:hidden;
    box-shadow: 1px 1px 0px black;
  }
}