.menu {
  @apply mm-sm:fixed mm-sm:inset-0 mm-sm:bg-dark-blue mm-sm:text-white flex flex-col items-start md:items-center justify-center @sm:gap-y-[32px] @md/lg:gap-y-[16px] @@:gap-x-[32px] md:flex-row mm-sm:hidden mm-sm:opacity-0;
  padding-inline: calc(var(--pl-margin));

  [js-menu-item]{
    @apply duration-200 transition-all ;
  }

  &.is-open {
    @apply opacity-100 transition-all duration-200;

    [js-menu-item] {
      @apply translate-y-0 opacity-100 delay-200;
    }
  }

  @screen md {
    padding-inline: 0px;
  }

  &-nav {
    @apply flex flex-col @@:gap-[32px] items-start md:items-center md:flex-row ;

    li {
      a {
        @apply uppercase  ;

        @media (max-width: 599px) {
          .button-title {
            @apply @sm:text-[23px]
          }
        }
        
      }
    }
  }

  &-btn {
    @apply flex items-center @@:gap-x-[10px] z-[99] md:hidden border-0;

    &.is-disabled {
      pointer-events: none;
    }

    &.is-open {
      @apply bg-white text-dark-blue;
    }

    &-lines {
      @apply bg-[--color-electric-green] @sm:size-12 @md/lg:size-12 rounded-full relative;
    }

    &-line {
      @apply  @@:w-[20px] h-[1px] transition-all duration-200 bg-current absolute top-[50%] left-[50%] -translate-x-[50%];

      &:nth-child(1) {
        @apply -translate-x-[50%] @@:-translate-y-[6px];
      }

      &:nth-child(3) {
        @apply -translate-x-[50%] @@:translate-y-[6px] origin-top-right;
      }
    }

    &.is-open {
      .menu-btn-line {
        &:nth-child(3) {  
          @apply scale-x-0;
        }
        &:nth-child(1) {
          @apply translate-y-0 rotate-45;
        }
        &:nth-child(2) {
          @apply -rotate-45;
        }
      }
    }
  }
}