.header {
  @apply absolute top-0 left-0 w-full z-[99];

  &-wrapper {
    @apply relative @sm:py-[10px] @md/lg:py-[24px];

    &-line {
      @apply absolute bottom-0 left-0 w-full h-[1px] opacity-20 bg-black;
    }

  }

  .logo {
    @apply relative z-[99];
  }
}

.logo {
  img {
    @apply @sm:w-[106px] @sm:h-[70px] @md/lg:w-[125px] @md/lg:h-[82px];
  }
}

.social {
  @apply flex flex-row @@:gap-x-[32px];

  svg {
    @apply @@:h-[18px] w-auto;
  }
}

.footer {
  &-bottom {
    @screen md {
      width: calc((15 / 24 * (100% - (var(--pl-margin) * 2))) + var(--pl-margin));
    }
  }
}

.cta {
  .wysiwyg {
    @apply mt-0;
    
    & > * {
      @apply text-center text-balance;
    }
  }
}